/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P';
  --main-font-weight: 400;
  --card-name-weight: 700;
  --bg-color: rgb(255, 255, 255);
  --bg-img: repeating-linear-gradient(90deg, #d3d3d3, transparent 2px), repeating-linear-gradient(#d3d3d3, transparent 2px), linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --accent-color: rgb(0, 0, 0);
  --content-width: clamp(375px, 50%, 700px);
  --lable-border-color: #fff;
  --button-text-color: #fff;
  --heart-contour-color: #000000;
  --heart-accent-color: red;
}